body {
    height: 100dvh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 300px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: grid;
    grid-template-rows: 150px 1fr;
    box-shadow: 8px 10px 300px #d7ecff;
}

.display {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.display input {
    color: #0186f3;
    outline: none;
    border: none;
    font-size: 30px;
    max-width: 270px;
    height: 50px;
    border-radius: 10px;
    text-align: right;
}

.buttons-container {
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.buttons-container button {
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    width: 50px;
    box-shadow: 5px 5px 10px #d7ecff;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: .2s;
}

.buttons-container button:hover {
    background-color: #8099ff;
    color: white;
}

.buttons-container .operator {
    color: #0186f3;
}

.buttons-container .operator:hover {
    background-color: #0186f3;
    color: white;
}